<div class="container">
    <h1>{{exam._id}}</h1>
        <div class="form-sorular">
        <h5>Sorular覺 ve cevaplar覺 yaz覺n覺z</h5>

        <div>1. Soru</div>

        <div class="row">
            <div class="col-md-6">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="A">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="C">
                </div>
            </div>
                <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="B">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="D">
                </div>
            </div>
        </div>
        <hr>
    </div>

    {{!-- -------------------------------------------------------------------------------- --}}

        <div class="form-sorular">
        

        <div>2. Soru</div>
        
        <div class="row">
            <div class="col-md-6">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="A">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="C">
                </div>
            </div>
                <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="B">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="D">
                </div>
            </div>
        </div>
        <hr>
    </div>

        {{!-- -------------------------------------------------------------------------------- --}}

        <div class="form-sorular">
        

        <div>3. Soru</div>
        
        <div class="row">
            <div class="col-md-6">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="A">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="C">
                </div>
            </div>
                <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="B">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="D">
                </div>
            </div>
        </div>
        <hr>
    </div>

        {{!-- -------------------------------------------------------------------------------- --}}

        <div class="form-sorular">
        

        <div>4. Soru</div>
        
        <div class="row">
            <div class="col-md-6">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="A">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="C">
                </div>
            </div>
                <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="B">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="D">
                </div>
            </div>
        </div>
        <hr>
    </div>

        {{!-- -------------------------------------------------------------------------------- --}}

        <div class="form-sorular">
        

        <div>5. Soru</div>
        
        <div class="row">
            <div class="col-md-6">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="A">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="C">
                </div>
            </div>
                <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="B">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="D">
                </div>
            </div>
        </div>
        <hr>
    </div>

        {{!-- -------------------------------------------------------------------------------- --}}

        <div class="form-sorular">
        

        <div>6. Soru</div>
        
        <div class="row">
            <div class="col-md-6">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="A">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="C">
                </div>
            </div>
                <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="B">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="D">
                </div>
            </div>
        </div>
        <hr>
    </div>

        {{!-- -------------------------------------------------------------------------------- --}}
        
        <div class="form-sorular">
        

        <div>7. Soru</div>
        
        <div class="row">
            <div class="col-md-6">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="A">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="C">
                </div>
            </div>
                <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="B">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="D">
                </div>
            </div>
        </div>
        <hr>
    </div>

        {{!-- -------------------------------------------------------------------------------- --}}

        <div class="form-sorular">
        

        <div>8. Soru</div>
        
        <div class="row">
            <div class="col-md-6">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="A">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="C">
                </div>
            </div>
                <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="B">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="D">
                </div>
            </div>
        </div>
        <hr>
    </div>

        {{!-- -------------------------------------------------------------------------------- --}}

        <div class="form-sorular">
        

        <div>9. Soru</div>
        
        <div class="row">
            <div class="col-md-6">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="A">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="C">
                </div>
            </div>
                <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="B">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="D">
                </div>
            </div>
        </div>
        <hr>
    </div>

        {{!-- -------------------------------------------------------------------------------- --}}

        <div class="form-sorular">
        

        <div>10. Soru</div>
        
        <div class="row">
            <div class="col-md-6">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="A">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="C">
                </div>
            </div>
                <div class="col-md-3 cevaplar">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="B">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="D">
                </div>
            </div>
        </div>
        
    </div>
        {{!-- -------------------------------------------------------------------------------- --}}
</div>