        <div class="container">
          <div class="row ">
            <div class="navbar-brand mb-0 h1 col-md-1">kwi</div>
            <div class="form col-md-6">
                <label for="searchForm" class="form-label"><button  type="button" class="btn btn-dark butonS">Search</button></label>
                <input   type="text" class="form-control " id="searchForm" placeholder="Search"/>
                </div>

            <div class="buttons col-md-2">
              <button type="button" class="btn btn-danger buton1">Sign Up</button>
               <a href="/login"><button type="button" class="btn btn-light buton2">Login</button></a> 
            </div>
          </div>
        </div>
        <hr></hr>